@import "../template/mixins";
@import "../template/diagram/mixins";
@import "../template/settings";
@import "../template/diagram/settings";

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lobster&display=swap');

// Quarkus colors
$quarkus-pink: #FF004A;
$quarkus-light-blue: #4695EB;

// Neutrals
$white: #FFFFFF;
$gray-light: #C9C9C9;
$gray: #8B8B8B;
$gray-dark: #4D4D4D;
$black: #000000;

// Main text
$mainFont: Overpass, Helvetica, 'sans-serif';
$mainFontSize: 32px;
$mainColor: $black;

// Headings
$headingFont: Lobster, Overpass, Helvetica, 'sans-serif';
$headingColor: $quarkus-pink;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: normal;

$heading1Size: 1.5em;
$heading2Size: 1.4em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Links
$linkColor: $quarkus-light-blue;
$linkColorHover: $quarkus-pink;

// Background
$backgroundColor: $white;
$selectionBackgroundColor: $quarkus-pink;

// Code
.reveal code {
  color: $quarkus-light-blue;
}

// Diagrams

$graphTextFontFamily: Overpass, Helvetica, 'sans-serif';
$graphTextFillColor: $white;

$nodeStrokeColor: $mainColor;
$nodeFillColor: $backgroundColor;
$nodeFontSize: 0.5em;

$edgeStrokeColor: $mainColor;
$edgeFillColor: $mainColor;
$edgeFontSize: 0.3em;

// Themes

@import "../template/theme";
@import "../template/diagram/theme";

